amqp==1.4.9
anyjson==0.3.3
asgiref==3.2.10
bcrypt==3.1.7
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
Django==3.0.8
django-celery==3.3.1
idna==2.10
kombu==3.0.37
Pillow==7.2.0
pycparser==2.20
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
schedule==0.6.0
six==1.15.0
sqlparse==0.3.1
stripe==2.54.0
urllib3==1.25.10
